<%- include('partials/header'); -%>

<h1>Contact</h1>
<p><%= coContent %> </p>

<p>Mail us <a href="mailto:gupta.tushar1620@gmail.com">here</a></p>

<a href="https://www.linkedin.com/in/tushar-gupta-ba733a192/">LinkedIn</a>

<%- include('partials/footer'); -%>